{% extends "base.html" %}

{% block content %}

<a href="{% url 'upload_statement' %}" class="btn btn-primary">Ajouter un relevé</a>



{% for statement in statements %}
<ul class="list-group list-group-horizontal">

    <li class="list-group-item">{{ statement }}</li>
    <li class="list-group-item">
        <a href="{{statement.file.url}}" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-file-earmark-pdf"></i>
        </a>
    </li>

    <li class="list-group-item">
        <a href="{{statement.id}}/delete/">
            <i class="bi bi-trash"></i>
        </a>
    </li>

</ul>
{% endfor %}

{% endblock %}