<div class="d-grid gap-2">
    <a class="btn btn-success" href="{% url 'category_create' %}?next={{current_url}}" role="button">
        Ajouter une catégorie
    </a>
    <div class="btn-group-vertical">
        <a class="btn btn-outline-primary {% if category_value == 'all' %}active{% endif %}"
            href="{% url 'transactions_list' 'all' %}" role="button">
            Toutes les catégories
        </a>
        <a class="btn btn-outline-primary {% if category_value == 'uncategorized' %}active{% endif %}"
            href="{% url 'transactions_list' 'uncategorized' %}" role="button">
            Sans catégorie
        </a>
        {% for category in categories %}
        <a class="btn btn-outline-primary {% if category_value == category.id|stringformat:'i' %}active{% endif %}"
            href="{% url 'transactions_list' category.id%}" role="button">
            {{category.name}}
        </a>
        {% endfor %}

    </div>
</div>




<!-- 
   <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item active" href="#">Action</a></li>
    </ul>
  </div>
   -->