{% extends "base.html" %}

{% block content %}

<div class="container">


    <div class="row align-items-start">
        <div class="col-9">

            <div class="row">
                <div class="col-9 align-items-start">
                    {% include "search_form.html" %}
                </div>
                <div class="col-3 align-items-center">
                    {% include "pagination.html" %}
                </div>
            </div>

            {% include "transactions_table.html" %}
            {% include "pagination.html" %}
        </div>
        <div class="col-3">
            {% include "categories_list.html" %}
        </div>
    </div>

</div>

{% endblock %}