{% extends "base.html" %}

{% block content %}
{% include "pagination.html" %}

<table class="table table-sm table-hover" style="font-size: 0.7rem">
    <thead>
        <tr>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-start">Libellé des opérations</th>
            <th scope="col" class="text-center">Valeur</th>
            <th scope="col" class="text-center">Catégorie</th>
            <th scope="col" class="text-center">Relevé</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td class="text-center">{{ transaction.date|date:"d/m/Y" }}</td>
            <td class="text-start" data-bs-toggle="tooltip" title="{{ transaction.label }}">
                {{ transaction.label|truncatechars:50 }}
            </td>
            <td class="text-end">{{ transaction.value }}</td>
            <td class="text-center">?</td>
            <td class="text-center">
                <a href="{{transaction.statement.file.url}}" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-file-earmark-pdf"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p class="muted"><a data-bs-toggle="tooltip" title="{{ transaction.label }}">{{ transaction.label|truncatechars:9 }}</a>
</p>


{% include "pagination.html" %}
{% endblock %}