<table class="table table-sm table-hover" style="font-size: 0.7rem">
    <thead>
        <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-start">Libellé des opérations</th>
            <th scope="col" class="text-start">Libellé personnalisé</th>
            <th scope="col" class="text-center">Valeur</th>
            <th scope="col" class="text-center">Catégorie</th>
            <th scope="col" class="text-center">Relevé</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr
            class="table-{% if transaction.statement.bank.name == 'Crédit Agricole' %}success{% else %}danger{% endif %}">
            <td>cb</td>
            <td class="text-center">{{ transaction.date|date:"d/m/Y" }}</td>
            <td class="text-start" data-bs-toggle="tooltip" title="{{ transaction.label }}">
                {{ transaction.label|truncatechars:50 }}
            </td>
            <td class="text-center">{% include "transactions_table_row_column_custom_label.html" %}</td>
            <td class="text-end"> {{ transaction.value }}</td>
            <td class="text-center">{% include "transactions_table_row_column_category.html" %}</td>
            <td class="text-center">{% include "transactions_table_row_column_statement.html" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>